*{
    font-family: 'Patrick Hand',cursive;
    font-size: 20px;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    padding-top: 10%;
    background-color: rgb(78, 78, 78);
}

button{
    outline: none;
    border: none;
    background-color: inherit;
    border: 1px solid #fff;
    padding: 10px;
    cursor: pointer;
}